* {
  margin: 0;
  padding: 0;
}
/* 
.no-spinners {
  -moz-appearance: textfield;
} */

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main_view_forgot {
  background-image: url("../../assets/svg/page_Background.svg");
  width: 100dvw;
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.msg_pop_up{
  /* background-color: #9e8888; */
  position: absolute;
  top: 20px;
  right:20px;
}

.main_center_element_forgot {
  /* background-color: rgba(94, 15, 28, 0.385); */
  /* width:70.15%; */
  width: 100%;
  height: 84%;
  /* min-width: 1000px; */
  max-height: 700px;
}
.top_element_forgot {
  /* background-color: rgba(182, 138, 25, 0.575); */
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: top;
}
.bottom_element_forgot {
  /* background-color: rgba(100, 148, 237, 0.604); */
  width: 100%;
  height: 87.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_icon_forgot {
  /* background-color: rgba(0, 139, 139, 0.679); */
  width: 150px;
  height: 50px;
}
.logo_icon_forgot img {
  width: 100%;
  height: 100%;
}

.login_box_forgot {
  background-color: #00d09c;
  /* width: 83.5%; */
  height: 88%;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  width: 900px;

  margin: 0px 5px 0px 5px;
}
.login_left_forgot {
  background-image: url("../../assets/svg/green_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_left_forgot_inter {
  /* background-color: cadetblue; */
  width: 82%;
  height: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left_tagline_top_forgot {
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#left_tagline_top_forgot_text {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.left_tagline_bottom_forgot {
  /* background-color: darkviolet; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#interval_forgot {
  width: 0px;
  height: 8px;
  background-color: #ffffff;
  animation: interval_forgot 3s infinite ease-in-out;
}

@keyframes interval_forgot{
  0%{width: 0px;}
  50%{width: 45px;}
  100%{width: 0px;}
}
#left_tagline_bottom_forgot_text {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.login_right_forgot {
  background-color: white;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_right_forgot_arrange {
  /* background-color: aquamarine; */
  width: 75%;
  height: 90%;
  min-width: 292px;
}
/* ...................  */
.login_with_forgot {
  /* background-color: rgb(0, 139, 139); */
  width: 100%;
  height: 60%;
}
.lwg_title_forgot {
  /* background-color: rgba(162, 8, 141, 0.586); */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lwg_title_forgot p {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #44475b;
}
.lwg_box_forgot {
  /* background-color: rgba(76, 0, 130, 0.563); */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lwg_wrap_image_forgot {
  /* background-color: #44475B; */
  width: 100%;
  height: 100%;
}
.lwg_box_forgot img {
  /* background-color: #69c810; */
  width: 100%;
  height: 100%;
}
/* ..........................  */
.login_with_id_forgot_email {
  /* background-color: rgb(5, 81, 153); */
  width: 100%;
  height: 40%;
}
.login_with_id_forgot_otp {
  /* background-color: rgb(5, 81, 153); */
  width: 100%;
  height: 40%;
}

.input_email_div_forgot_email {
  /* background-color: rgb(255, 0, 0); */
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_email_div_forgot_otp {
  /* background-color: rgb(255, 0, 0); */
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ied_center_forgot_email {
  width: 100%;
  height: 30px;
  position: relative;
  /* display: flex;
    justify-content: center;
    align-items: end; */
}

.ied_center_forgot_otp {
  width: 100%;
  height: 30px;
  position: relative;
}
.ied_center_forgot_set_pass {
  width: 100%;
  height: 30px;
  position: relative;
  /* display: flex;
    justify-content: center;
    align-items: end; */
}

.ied_center_forgot_conf_pass {
  width: 100%;
  height: 30px;
  position: relative;
}
#placeholder_static_email {
  /* background-color: brown; */
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(170, 170, 170);
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#placeholder_static_otp {
  /* background-color: brown; */
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(170, 170, 170);
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#placeholder_static_set_pass {
  /* background-color: brown; */
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(170, 170, 170);
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#placeholder_static_conf_pass {
  /* background-color: brown; */
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(170, 170, 170);
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.email_error_div {
  /* background-color: pink; */
  position: relative;
  overflow: hidden;
}
.email_error_div label {
  background-color: #ffffff;
  font-size: 11px;
  font-family: sans-serif;
  color: #d50707;
  position: absolute;
  /* color: #39ac13; */
  top: 5px;
}
#email_invalid_error{
  background-color: #ffffff;
  font-size: 11px;
  font-family: sans-serif;
  color: #d50707;
  position: absolute;
  /* color: #39ac13; */
  top: 35px;
}

#placeholder_move_email {
  /* background-color: brown; */
  position: absolute;
  top: -20px;
  left: 1px;
  font-family: sans-serif;
  font-size: 14px;
  color: #00b386;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#placeholder_move_otp {
  /* background-color: brown; */
  position: absolute;
  top: -20px;
  left: 1px;
  font-family: sans-serif;
  font-size: 14px;
  color: #00b386;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#placeholder_move_set_pass {
  /* background-color: brown; */
  position: absolute;
  top: -20px;
  left: 1px;
  font-family: sans-serif;
  font-size: 14px;
  color: #00b386;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
#placeholder_move_conf_pass {
  /* background-color: brown; */
  position: absolute;
  top: -20px;
  left: 1px;
  font-family: sans-serif;
  font-size: 14px;
  color: #00b386;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.input_email_div_forgot_email input {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 30px;
  border: none;
  font-size: 14px;
  padding: 0px 0px 3px 2px;
  /* border-bottom: 1.6px solid #00B386; */
  border-bottom: 1.4px solid #cdcdcd;
  color: #828282;
  z-index: 2;
}
.input_email_div_forgot_otp input {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 30px;
  border: none;
  font-size: 14px;
  padding: 0px 0px 3px 2px;
  /* border-bottom: 1.6px solid #00B386; */
  border-bottom: 1.4px solid #cdcdcd;
  color: #828282;
  z-index: 2;
}

#inputActive_email {
  border-bottom: 1.5px solid #00b386;
  transition: width 0.4s ease-in-out;
}
#inputActive_otp {
  border-bottom: 1.5px solid #00b386;
  transition: width 0.4s ease-in-out;
}
#inputActive_set_pass {
  border-bottom: 1.5px solid #00b386;
  transition: width 0.4s ease-in-out;
}
#inputActive_conf_pass {
  border-bottom: 1.5px solid #00b386;
  transition: width 0.4s ease-in-out;
}
#inputDeactivate_email {
  border-bottom: 1.4px solid #cdcdcd;
  transition: 0.4s ease-in-out;
}
#inputDeactivate_otp {
  border-bottom: 1.4px solid #cdcdcd;
  transition: 0.4s ease-in-out;
}
#inputDeactivate_set_pass {
  border-bottom: 1.4px solid #cdcdcd;
  transition: 0.4s ease-in-out;
}
#inputDeactivate_conf_pass {
  border-bottom: 1.4px solid #cdcdcd;
  transition: 0.4s ease-in-out;
}

textarea:focus,
input:focus {
  outline: none;
}

.continue_btn_div_forgot {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.continue_btn_div_forgot button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #00b386;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
  cursor: pointer;
  transition: 0.3s;
}
#cnt_btn:hover {
  background-color: #00ac81;
  box-shadow: 1px 1px 10px #00a37a63;
}

.company_terms_div_forgot_email{
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.company_terms_div_forgot_email p{
  font-size: 12px;
  color: #626368;
  text-align: center;
}

.company_terms_div_forgot {
  /* background-color: rgb(96, 103, 153); */
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: end;
}
#company_terms_div_forgot_span_1{
  font-family: sans-serif;
  font-size: 12px;
  color: #808080;
}
#company_terms_div_forgot_span_2{
  /* background-color: pink; */
  font-family: sans-serif;
  font-size: 12px;
  padding-left: 5px;
  color: #6e3468;
  font-weight: 500;
}
#company_terms_div_forgot_span_2 button{
  /* background-color: pink; */
  border: none;
  background-color: transparent;
  font-size: 12px;  
  color: #3955d1;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  display:inline-block;
}
/* ..................... crete password  */

.cretePass_heading {
  /* background-color:blueviolet; */
  width: 100%;
  height: 40%;
}
.cp_title {
  /* background-color: rgba(162, 8, 141, 0.586); */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cp_title p {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #44475b;
}
.cp_icon_box {
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.cp_icon_image {
  /* background-color: pink; */
  width: 60%;
  height: 95%;
}
.cp_icon_box img {
  /* background-color: #21872c; */
  width: 100%;
  height: 100%;
}

.Create_password_section {
  /* background-color: rgb(255, 236, 30); */
  width: 100%;
  height: 60%;
}

.input_createPass_div {
  /* background-color: #d0bb00; */
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.input_createPass_div input {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 30px;
  border: none;
  font-size: 14px;
  padding: 0px 0px 3px 2px;
  /* border-bottom: 1.6px solid #00B386; */
  border-bottom: 1.4px solid #cdcdcd;
  color: #828282;
  z-index: 2;
}

.createPass_continue_btn_div_forgot {
  /* background-color: rgb(196, 8, 133); */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.createPass_continue_btn_div_forgot button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #00b386;
  color: white;
  font-size: 16px;
  font-weight: 500;
  /* margin-bottom: 4px; */
  cursor: pointer;
  transition: 0.3s;
}
._createPass_company_terms_div_forgot {
  /* background-color: forestgreen; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: end;
}
._createPass_company_terms_div_forgot p {
  font-family: sans-serif;
  font-size: 12px;
  color: #b0b0b0;
}
._createPass_company_terms_div_forgot p a {
  font-size: 10px;
  color: #4d74a1cd;
}

.conformPass_error_div_set_pass {
  /* background-color: pink; */
  position: absolute;
  overflow: hidden;
  top: 30px;
}
.conformPass_error_div_set_pass label {
  font-size: 10px;
  font-family: sans-serif;
  color: #d50707;
  /* color: #39ac13; */
}
.conformPass_error_div_conf_pass {
  /* background-color: pink; */
  position: absolute;
  overflow: hidden;
  top: 30px;
}
.conformPass_error_div_conf_pass label {
  font-size: 10px;
  font-family: sans-serif;
  color: #d50707;
  /* color: #39ac13; */
}

.ied_center_forgot_conf_pass_password_hide_and_view {
  /* background-color: rgb(116, 38, 38); */
  width: 25px;
  height: 22px;
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ied_center_forgot_conf_pass_password_hide_and_view::before {
  content: "";
  background-color: #ffffff;
  width: 12px;
  height: 20px;
  position: absolute;
  filter: blur(4px);
  left: -10px;
}
.ied_center_forgot_conf_pass_password_hide_and_view::after {
  content: "";
  background-color: #ffffff;
  width: 14px;
  height: 20px;
  position: absolute;
  right: -10px;
}

#ied_center_forgot_conf_pass_password_hide_and_view_svg_see {
  color: #a50808;
}

#ied_center_forgot_conf_pass_password_hide_and_view_svg_notSee {
  /* color: #127e63; */
  color: #3a3a3a;
}
.ied_center_forgot_set_pass_password_hide_and_view {
  /* background-color: rgb(116, 38, 38); */
  width: 25px;
  height: 22px;
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ied_center_forgot_set_pass_password_hide_and_view::before {
  content: "";
  background-color: #ffffff;
  width: 12px;
  height: 20px;
  position: absolute;
  filter: blur(4px);
  left: -10px;
}
.ied_center_forgot_set_pass_password_hide_and_view::after {
  content: "";
  background-color: #ffffff;
  width: 14px;
  height: 20px;
  position: absolute;
  right: -10px;
}

#ied_center_forgot_set_pass_password_hide_and_view_svg_see {
  color: #a50808;
}

#ied_center_forgot_set_pass_password_hide_and_view_svg_notSee {
  /* color: #127e63; */
  color: #3a3a3a;
}

@media only screen and (max-width: 905px) {
  .main_center_element_forgot {
    /* width:70%; */
    height: 84%;
    /* min-width: 100%; */
  }
}
@media only screen and (max-width: 750px) {
  .login_left_forgot {
    display: none;
  }
  .login_right_forgot {
    width: 100%;
  }
  .login_box_forgot {
    background-color: rgb(255, 255, 255);
    width: 83.5%;
    height: 88%;
    min-width: 83.5%;
  }
}
@media only screen and (max-width: 465px) {
  .login_box_forgot {
    width: 90%;
  }
}
@media only screen and (max-width: 330px) {
  .company_terms_div_forgot {
    /* background-color: rgb(96, 103, 153); */
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6px;
    gap: 3px;
  }
  #company_terms_div_forgot_span_1{
    font-family: sans-serif;
    font-size: 10px;
    color: #808080;
  }
  #company_terms_div_forgot_span_2{
    font-size: 10px;
  }
  #company_terms_div_forgot_span_2 button{
    /* background-color: pink; */
    font-size: 11px;  
  }
}
@media only screen and (max-width: 380px) {
  .login_right_forgot_arrange {
    /* background-color: red; */
    width: 85%;
    min-width: 150px;
  }
  .lwg_title_forgot p {
    font-size: 26px;
  }
  .company_terms_div_forgot p {
    font-size: 2.8vw;
  }
  .company_terms_div_forgot p a {
    font-size: 2.8vw;
  }
}
