.withDrawAndDeposit_main {
  /* background-color: red; */
  width: 100%;
  /* min-width: 300px; */
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  border-radius: 10px;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_top {
  /* background-color: lightcyan; */
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_top_arrange_width {
  /* background-color: rgba(255, 0, 255, 0.235); */
  width: 93%;
  height: 100%;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_top_title {
  /* background-color: thistle; */
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  gap: 10px;
}
#withDrawAndDeposit_main_money_main_top_title_deposit {
  /* background-color: firebrick; */
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: #44475b;
  padding: 0px 5px;
  cursor: pointer;
  padding-top: 10px;
}
#withDrawAndDeposit_main_money_main_top_title_withdraw {
  /* background-color: firebrick; */
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  color: #44475b;
  padding: 0px 5px;
  cursor: pointer;
  padding-top: 10px;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_top_animation_scroll {
  /* background-color: rgba(42, 186, 114, 0.688); */
  width: 100%;
  height: 15%;
  display: flex;
  align-items: end;
  position: relative;
}
.animation_move_payment_option {
  background-color: #00b386;
  width: 70px;
  height: 4px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  transition: 0.4s ease-in-out;
}
#move_to_option_deposit {
  left: 0px;
  transition: 0.3s ease-in-out;
}
#move_to_option_withdraw {
  background-color: #eb5b3c;
  left: 80px;
  width: 90px;
  transition: 0.3s ease-in-out;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom {
  /* background-color: #84e37d7c; */
  width: 100%;

  height: auto;
  display: flex;
  justify-content: center;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_arrange_width {
  /* background-color: darkkhaki; */
  width: 93%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_main {
  /* background-color: pink; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_title_box {
  /* background-color: rgb(214, 198, 228); */
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_title_box
  span {
  color: #56586a;
  font-size: 16px;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_input_box {
  /* background-color: rgb(193, 191, 187); */
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_input_box
  input {
  background-color: #c8f4e8;
  width: 105px;
  border: none;
  height: 30px;
  text-align: end;
  padding: 0px 7px 0px 25px;
  color: #00b386;
  font-size: 17px;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_input_box
  span {
  position: absolute;
  color: #00b386;
  left: 8px;
  font-weight: 500;
  font-size: 19px;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_add_money_pp_option {
  /* background-color: rgb(133, 104, 104); */
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_add_money_pp_option_100 {
  width: 55px;
  height: 24px;
  background-color: #ddfcf3c3;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #00b386;
  cursor: pointer;
}
#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_add_money_pp_option_500 {
  width: 55px;
  height: 24px;
  background-color: #ddfcf3c3;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #00b386;
  cursor: pointer;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_card_info{
  /* background-color: blueviolet; */
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_card_info_top{
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_card_info_bottom{
  /* background-color: burlywood; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #cecece;
  text-align: center;
  flex-direction: column;
  gap: 5px;
  font-weight: 100;
}
.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_card_info_bottom_open_step_guid{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_card_info_bottom_highlight{
  color: #eb9c9ae4;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_card_info_bottom_deepLight{
  color: #c5c5c5;
  font-weight: 100;
}

#withdraw_and_deposit_copy_to_clipBoard_text{
  /* color: #459f8daf; */
  color: #e0e0e0;
  font-size: 18px;
  /* background-color: red; */
  /* min-width: 175px; */
  text-align: center;
}

#withdraw_and_deposit_copy_to_clipBoard_btn{
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}
#withdraw_and_deposit_copy_to_clipBoard_btn svg{
  width: 100%;
  height: 100%;
}


.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_button_main_div {
  /* background-color: #2f2f2f; */
  width: 100%;
  height: 65px;
}

#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_button {
  background-color: #00b386;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_deposit_button_loader {
  background-color: #00b386;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

/* ...................  */

.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_arrange_width {
  /* background-color: darkkhaki; */
  width: 93%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_withdrawable_or_not {
  /* background-color: yellow; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_withdrawable_title {
  color: #56586a;
  font-size: 16px;
}

#withDrawAndDeposit_main_arrange_width_deposit_money_main_bottom_withdrawable_money {
  color: #56586a;
  font-size: 16px;
  font-weight: 500;
}

.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_main {
  /* background-color: pink; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_title_box {
  /* background-color: rgb(214, 198, 228); */
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_title_box
  span {
  color: #56586a;
  font-size: 16px;
}
.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_input_box {
  /* background-color: rgb(193, 191, 187); */
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_input_box
  input {
  background-color: #ffe6df;
  width: 105px;
  border: none;
  height: 30px;
  text-align: end;
  padding: 0px 7px 0px 25px;
  color: #eb5b3c;
  font-size: 17px;
}
.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_input_box
  span {
  position: absolute;
  color: #eb5b3c;
  left: 8px;
  font-weight: 500;
  font-size: 19px;
}

.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_add_money_pp_option {
  /* background-color: rgb(173, 83, 172); */
  width: 100%;
  height: 100px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

#withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_add_money_pp_option_100 {
  width: 55px;
  height: 24px;
  background-color: #ffe1d9;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #eb5b3c;
  cursor: pointer;
}
#withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_add_money_pp_option_500 {
  width: 55px;
  height: 24px;
  background-color: #ffe1d9;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #ff937b;
  cursor: pointer;
}

.withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_button_main_div {
  /* background-color: #2f2f2f; */
  width: 100%;
  height: 65px;
}

#withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_button {
  background-color: #eb5b3c;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
#withDrawAndDeposit_main_arrange_width_withdraw_money_main_bottom_deposit_button_loader {
  background-color: #eb5b3c;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: 500;
}
