.Navbar_main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar_content_limit_width{
    /* background-color: pink; */
    height: 100%;
    width: 95%;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    gap: 7px;

}

/* .........................................  */
.Navbar_logo{
    /* background-color: tomato; */
    width: 13%;
    min-width: 120px;
    height: 100%;
    max-width: 150px;
    display: flex;
    align-items: center;
}
.Navbar_logo_groww{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_logo_groww img{
    width: 100%;
    height: 100%;
}
/* .........................................  */
.Navbar_feature{
    /* background-color: rgb(73, 109, 146); */
    width: 18%;
    height: 100%;
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7px 0px 7px;
    box-sizing: border-box;
    gap: 7px;
}
.Navbar_feature_explore{
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_feature_explore p{
    color: #7c7e8c;
    font-size: 17px;
    font-weight: 558;
    cursor: pointer;
    transition: 0.17s ease-in-out;
}
.Navbar_feature_investment{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_feature_investment p{
    color: #7c7e8c;
    font-size: 17px;
    font-weight: 558;
    cursor: pointer;
    transition: 0.17s ease-in-out;
}
/* .........................................  */
.Navbar_search{
    /* background-color: rgb(82, 176, 0); */
    height: 100%;
    width: 42%;
    min-width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_search_action{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 42px;
    max-width: 456px;
    border: 1px solid #e2e2e2e7;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Navbar_search_action_main{
    width: 90%;
    height: 90%;
}
.Navbar_search_action_main input{
    background-color: white;
    width: 100%;
    height: 100%;
    border: none;
    color: #4e4e4e;
    font-size: 13.5px;
}
.Navbar_search_action_main input::placeholder {
    color: #7e7e7e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Navbar_search_icon{
    /* background-color: rgb(160, 114, 114); */
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .........................................  */
.Navbar_activity{
    /* background-color: violet; */
    width: 20%;
    height: 100%;
    min-width: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.Navbar_activity_notification{
    /* background-color: goldenrod; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.Navbar_activity_notification:hover{
    background-color: #ecececda;
}
.Navbar_activity_wallet{
    /* background-color: darkolivegreen; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.Navbar_activity_wallet:hover{
    background-color: #ecececda;
}
.Navbar_activity_shop{
    /* background-color: slateblue; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}
.Navbar_activity_shop:hover{
    background-color: #ecececda;
}
.Navbar_activity_profile{
    /* background-color: seagreen; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Navbar_activity_profile_image{
    background-color: rgba(22, 143, 84, 0.788);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_activity_profile_image p{
    font-size: 19px;
    font-weight: 500;
    color: white;
}
.Navbar_activity_profile_activate_deactivate_icon{
    /* background-color: #1e1d1d; */
    /* background-color: #ffffffeb; */
    width: 20px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #454545; */
    transition: 0.3s ease-in-out;
}
#Navbar_activate_deactivate_icon_rotate{
    transform: rotate(180deg);
}

/* ..........................user profile ................   */

.Navbar_user_Profile_section{
    background-color: rgb(255, 255, 255);
    width: 355px;
    /* height: 450px; */
    position: absolute;
    top: 90px;
    right: 15px;
    border-radius: 8px;
    /* border: 1.5px solid #dfdfdf; */
    overflow: hidden;
    box-shadow: 1px 0px 15px #efefefc2;
    transition: 0.4s ease-in-out;
}

/* .............. aninmation.............  */


.Navbar_user_Profile_section_user_about{
    /* background-color: pink; */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.3px solid #dfdfdf;
}



.Navbar_user_Profile_section_user_about_arrange{
    /* background-color: rgb(208, 132, 132); */
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    gap: 3px;
}
.Navbar_user_Profile_section_user_about_arrange_user_data{
    /* background-color: red; */
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}
#Navbar_user_Profile_section_user_about_arrange_user_data_name{
    color:#515151;
    font-size: 18px;
    font-weight: 500;
}

#Navbar_user_Profile_section_user_about_arrange_user_data_email{
    color:#999999;
    font-size: 13px;
    /* font-weight: 500; */
}  

.Navbar_user_Profile_section_user_about_setting{
    /* background-color: green;  */
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;   
}

.Navbar_user_Profile_section_user_about_setting_main_div{
    background-color: white;
    width: 25px;
    height: 25px;
    border: 1px solid #9e9e9e;
    /* border: 1.5px solid #737373; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.Navbar_user_Profile_section_user_about_setting_main_div:hover{
    transform: rotate(30deg);
}

.Navbar_user_Profile_section_service{
    /* background-color: teal; */
    width: 100%;
    /* height: 180px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1.3px solid #dfdfdf;
}
.Navbar_user_Profile_section_service_arrange{
    /* background-color: rgb(41, 201, 52); */
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Navbar_user_Profile_section_service_arrange_pointer_allOrder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.Navbar_user_Profile_section_service_arrange_pointer_allOrder:hover{
    background-color: #f4f4f4;
}




.Navbar_user_Profile_section_service_allOrder{
    /* background-color: rgb(49, 1, 93); */
    width: 90%;
    height: 52px;
    display: flex;
}

.Navbar_user_Profile_section_service_allOrder_icon{
    /* background-color: #dca075; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15%;
}
.Navbar_user_Profile_section_service_allOrder_title{
    /* background-color: #be61be; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    border-bottom: 1px solid #f2f2f2;
}

.Navbar_user_Profile_section_service_allOrder_title p{
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 500;
}



.Navbar_user_Profile_section_service_arrange_pointer_bankDetail{
    width: 100%;
    height: 100%;
    /* background-color: #dbbf0c; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.Navbar_user_Profile_section_service_arrange_pointer_bankDetail:hover{
    width: 100%;
    height: 100%;
    /* background-color: #dbbf0c; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.Navbar_user_Profile_section_service_arrange_pointer_bankDetail:hover{
    background-color: #f4f4f4;
}


.Navbar_user_Profile_section_service_bankDetail{
    /* background-color: steelblue; */
    width: 90%;
    height: 52px;
    display: flex;
}
.Navbar_user_Profile_section_service_bankDetail_icon{
    /* background-color: powderblue; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15%;
}
.Navbar_user_Profile_section_service_bankDetail_title{
    /* background-color: royalblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    border-bottom: 1px solid #f2f2f2;
}
.Navbar_user_Profile_section_service_bankDetail_title p{
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 500;
}
 

.Navbar_user_Profile_section_service_arrange_pointer_customerSupport{
    width: 100%;
    height: 100%;
    /* background-color: #dbbf0c; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.Navbar_user_Profile_section_service_arrange_pointer_customerSupport:hover{
    background-color: #f4f4f4;
}
.Navbar_user_Profile_section_service_customerSupport{
    /* background-color: seagreen; */
    width: 90%;
    height: 52px;
    display: flex;
}
.Navbar_user_Profile_section_service_customerSupport_icon{
    /* background-color: #32bbcd; */
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15%;
}

.Navbar_user_Profile_section_service_customerSupport_title{
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.Navbar_user_Profile_section_service_customerSupport_title p{
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 500;
}




.Navbar_user_Profile_section_feature{
    /* background-color: slateblue; */
    width: 100%;
    /* height: 130px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.3px solid #dfdfdf;
    display: none;
}
.Navbar_user_Profile_section_feature_arrange{
    /* background-color: white; */
    width: 100%;
    height: 95%;
}


.Navbar_user_Profile_section_logout_arrange{
    background-color: #393939;
    background-color: white;
    width: 90%;
    height: 95%;
}

/* ................. foofter .............  */

.Navbar_user_Profile_section_footer{
    background-color: #f6f6f6;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Navbar_user_Profile_section_footer_arrange{
    /* background-color: pink; */
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.Navbar_user_Profile_section_footer_arrange_Darkmode{
    /* background-color: gray; */
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.Navbar_user_Profile_section_footer_arrange_Darkmode_svg_div{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.Navbar_user_Profile_section_footer_arrange_logout{
    /* background-color: rgb(206, 206, 206); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar_user_Profile_section_footer_arrange_logout p{
    font-weight: 500;
    font-size: 13px;
    color: #515151;
    text-decoration: underline;
    cursor: pointer;
}
.Navbar_user_Profile_section_footer_arrange_logout p:hover{
    font-weight: 500;
    font-size: 13px;
    color: #00B386;
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (max-width: 900px) {
    .Navbar_activity_shop{
        background-color: pink;
        display: none;
    }
    .Navbar_activity_notification{
        background-color: gray;
        display: none;
    }
    .Navbar_activity_wallet{
        background-color: darkgoldenrod;
        display: none;
    }
    .Navbar_activity{
        /* background-color: #9d55d5; */
        min-width: 60px;
        width: 10%;
    }
    .Navbar_search{
        /* background-color: teal; */
    }
    .Navbar_feature{
        /* background-color: rgb(100, 53, 0); */
    }
    .Navbar_logo{
        /* background-color: royalblue; */
    }
    .Navbar_user_Profile_section_feature{
        display: block;
    }
}



@media only screen and (max-width: 750px) {
    .Navbar_activity{
        /* background-color: #9d55d5; */
        min-width: 60px;
        width: 10%;
    }
    .Navbar_search{
        /* background-color: teal; */
        width: 50%;
    }
    .Navbar_feature{
        background-color: rgb(100, 53, 0);
        display: none;
    }
    .Navbar_logo{
        /* background-color: royalblue; */
    }
    .Navbar_activity_profile_image{
        background-color: rgba(22, 143, 84, 0.788);
        width: 40px;
        height: 40px;
    }
    .Navbar_activity_profile_image p{
        font-size: 18px;
    }
}


@media only screen and (max-width: 500px) {
    .Navbar_activity{
        /* background-color: #9d55d5; */
        min-width: 60px;
        width: 10%;
    }
    .Navbar_search{
        /* background-color: teal; */
        width: 50%;
    }
    .Navbar_feature{
        background-color: rgb(100, 53, 0);
        display: none;
    }
    .Navbar_logo{
        /* background-color: royalblue; */
    }
    .Navbar_search{
        display: none !important;
    }
    .Navbar_activity_profile_image{
        background-color: rgba(22, 143, 84, 0.788);
        width: 37px;
        height: 37px;
    }
    .Navbar_activity_profile_image p{
        font-size: 17px;
    }
    .Navbar_activity_profile_activate_deactivate_icon svg{
        width: 15px;
        height: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .Navbar_activity{
        /* background-color: #9d55d5; */
        min-width: 60px;
        width: 10%;
    }
    .Navbar_search{
        /* background-color: teal; */
        width: 50%;
    }
    .Navbar_feature{
        background-color: rgb(100, 53, 0);
        display: none;
    }
    .Navbar_logo{
        /* background-color: royalblue; */
    }
    .Navbar_search{
        display: none !important;
    }
    .Navbar_user_Profile_section{
        width: 300px;
    }
}
@media only screen and (max-width: 340px) {
    
    .Navbar_user_Profile_section{
        width: 250px;
    }
}
@media only screen and (max-width: 280px) {
    .Navbar_user_Profile_section{
        width: 220px;
    }
    #Navbar_user_Profile_section_user_about_arrange_user_data_name{
        font-size: 16px;
    }
    #Navbar_user_Profile_section_user_about_arrange_user_data_email{
        font-size: 11px;
    }

    .Navbar_user_Profile_section_user_about_setting_main_div{
        width: 20px;
        height: 20px;
    }
    .Navbar_user_Profile_section_user_about_setting_main_div svg{
        width: 14px;
        height: 14px;
    }

    /* .....................  */
    .Navbar_user_Profile_section_service_allOrder_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_allOrder_icon svg{
        width: 16px;
        height: 16px;
    }

    .Navbar_user_Profile_section_service_bankDetail_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_bankDetail_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_customerSupport_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_customerSupport_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_bankDetail_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_allOrder_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_bankDetail_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_bankDetail_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_customerSupport_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_customerSupport_icon svg{
        width: 16px;
        height: 16px;
    }
}
@media only screen and (max-width: 250px) {
    .Navbar_user_Profile_section{
        width: 180px;
    }
    #Navbar_user_Profile_section_user_about_arrange_user_data_name{
        font-size: 16px;
    }
    #Navbar_user_Profile_section_user_about_arrange_user_data_email{
        font-size: 11px;
    }

    .Navbar_user_Profile_section_user_about_setting_main_div{
        width: 20px;
        height: 20px;
    }
    .Navbar_user_Profile_section_user_about_setting_main_div svg{
        width: 14px;
        height: 14px;
    }

    /* .....................  */
    .Navbar_user_Profile_section_service_allOrder_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_allOrder_icon svg{
        width: 16px;
        height: 16px;
    }

    .Navbar_user_Profile_section_service_bankDetail_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_bankDetail_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_customerSupport_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_customerSupport_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_bankDetail_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_allOrder_icon svg{
        width: 16px;
        height: 16px;
    }


    .Navbar_user_Profile_section_service_bankDetail_title p{
        font-size: 12.5px;
    }
    .Navbar_user_Profile_section_service_bankDetail_icon svg{
        width: 16px;
        height: 16px;
    }
    
    .Navbar_user_Profile_section_service_customerSupport_title p{
        font-size: 12.5px;
        flex-wrap: nowrap;
    }
    .Navbar_user_Profile_section_service_customerSupport_icon svg{
        width: 16px;
        height: 16px;
    }
}