.all_stock_main {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* prevent to select text  */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.all_stock_main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_stock__main_container_arrange_width {
  /* background-color: lightgreen; */
  width: 95%;
  /* height: 100px; */
  max-width: 1230px;
}
.all_stock_head_container {
  /* background-color: darkmagenta; */
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}
#all_stock_head_container_title {
  font-size: 25px;
  font-weight: 500;
  color: #44475b;
}
.all_stock_filter_and_stock_list_container {
  /* background-color: #0051870d; */
  width: 100%;
  /* height: 1400px; */
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  padding-bottom: 200px;
}
.all_stock_filter_container {
  /* background-color: rgba(0, 103, 0, 0.411); */
  width: 32.5%;
  height: 100%;
  box-sizing: border-box;
}
.all_stock_filter_container_main {
  /* background-color: wheat; */
  width: 100%;
  border: 1.5px solid #e5e5e5;
  border-radius: 5px;
}
.all_stock_filter_container_main_head {
  /* background-color: rgba(178, 34, 34, 0.151); */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_stock_filter_container_main_head_arrange_width {
  /* background-color: rgba(178, 34, 34, 0.825); */
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all_stock_filter_container_main_head_title {
  color: #44475b;
  font-size: 17.5px;
  font-weight: 500;
}
#all_stock_filter_container_main_clear_all {
  color: #00b386;
  font-size: 13.5px;
  font-weight: 500;
  cursor: pointer;
}

/* .....................SECTOR.......................  */

.all_stock_filter_container_main_sector {
  /* background-color: rgb(130, 0, 85); */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1.5px solid #e5e5e5;
}
.all_stock_filter_container_main_sector_arrange_width {
  /* background-color: #cacaca5d; */
  width: 90%;
  height: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.all_stock_filter_container_main_sector_head {
  /* background-color: pink; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all_stock_filter_container_main_sector_head_title {
  /* background-color: rgb(210, 179, 241); */
  color: #6c6e7b;
  font-size: 15px;
  font-weight: 500;
}
#all_stock_filter_container_main_sector_head_toggle_arrow svg {
  color: #44475b;
}
.all_stock_filter_container_main_sector_hidden_box {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.all_stock_filter_container_main_sector_hidden_box_arrange_height {
  /* background-color: pink; */
  width: 100%;
  max-height: 280px;
  overflow-y: scroll;
}
.all_stock_filter_container_main_sector_hidden_box_arrange_height::-webkit-scrollbar {
  width: 4px;
}
.all_stock_filter_container_main_sector_hidden_box_arrange_height::-webkit-scrollbar-thumb {
  background: #dedede;
}
.all_stock_filter_container_main_sector_hidden_box_arrange_height::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}
#asf_sector_hidden_box {
  height: 295px;
}

/* .....................INDEX.......................  */

.all_stock_filter_container_main_index {
  /* background-color: indigo; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1.5px solid #e5e5e5;
}
.all_stock_filter_container_main_index_arrange_width {
  /* background-color: #cacaca59; */
  width: 90%;
  height: 100%;
  height: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.all_stock_filter_container_main_index_head {
  /* background-color: pink; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all_stock_filter_container_main_index_head_title {
  /* background-color: rgb(210, 179, 241); */
  color: #6c6e7b;
  font-size: 15px;
  font-weight: 500;
}

#all_stock_filter_container_main_index_head_toggle_arrow {
  color: #44475b;
}
.all_stock_filter_container_main_index_hidden_box {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  /* padding-bottom: 15px; */
}
#asf_index_hidden_box {
  height: 260px;
}

/* .....................MARKET CAP.......................  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.all_stock_filter_container_main_market_cap {
  /* background-color: olivedrab; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1.5px solid #e5e5e5;
}
.all_stock_filter_container_main_market_cap_arrange_width {
  /* background-color: #cacaca6b; */
  width: 90%;
  height: 100%;
  height: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.all_stock_filter_container_main_market_cap_head {
  /* background-color: pink; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all_stock_filter_container_main_market_cap_head_title {
  /* background-color: rgb(210, 179, 241); */
  color: #6c6e7b;
  font-size: 15px;
  font-weight: 500;
}
#all_stock_filter_container_main_market_cap_head_toggle_arrow svg {
  color: #44475b;
}
.all_stock_filter_container_main_market_cap_hidden_box {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 0px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
#asf_market_cap_hidden_box {
  height: 162px;  /* arrange height */
}

.all_stock_filter_container_main_market_cap_hidden_box_content {
  /* background-color: rgb(137, 82, 91); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.all_stock_filter_container_main_market_cap_hidden_box_content_range {
  /* background-color: #b4b4b4; */
  width: 100%;
  height: 0px;
}
.all_stock_filter_container_main_market_cap_hidden_box_content_input {
  /* background-color: #00b386; */
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#all_stock_filter_market_cap_hidden_box_content_input_start {
  height: 45px;
  width: 40%;
  border-radius: 4px;
  border: 1.5px solid #e1e1e1d2;
  padding: 0px 10px;
  text-align: end;
  transition: 0.15s ease-in-out;
  font-size: 16px;
  color: #535353;
}
#all_stock_filter_market_cap_hidden_box_content_input_start:focus {
  border: 1.5px solid #00b3869b;
}
#all_stock_filter_market_cap_hidden_box_content_input_to {
  height: 40px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #bebdbd;
}
#all_stock_filter_market_cap_hidden_box_content_input_end {
  height: 45px;
  width: 40%;
  border-radius: 4px;
  border: 1.5px solid #e1e1e1d2;
  padding: 0px 10px;
  text-align: end;
  transition: 0.15s ease-in-out;
  font-size: 16px;
  color: #535353;
}
#all_stock_filter_market_cap_hidden_box_content_input_end:focus {
  border: 1.5px solid #00b3869b;
}
.all_stock_filter_container_main_market_cap_hidden_box_content_btn {
  /* border: 1.4px solid #e1e1e1d2; */
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  gap: 10px;
}
#all_stock_filter_container_main_market_cap_hidden_box_content_btn_small {
  width: 33.33%;
  height: 100%;
  border: 1.5px solid #e1e1e1d2;;
  border-radius:5px;
  overflow:hidden;

}
.all_stock_filter_cap_hidden_box_content_btn_small_btn{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight:500;
  color: #9d9d9d;
    border-radius:5px;
  transition:0.2s ease-in-out;
}
#all_stock_filter_container_main_market_cap_hidden_box_content_btn_mid {
  width: 33.33%;
  height: 100%;
  border: 1.5px solid #e1e1e1d2;
  border-radius:5px;
  overflow:hidden;

}
.all_stock_filter_cap_hidden_box_content_btn_mid_btn{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight:500;
  color: #9d9d9d;
    border-radius:5px;
  transition:0.2s ease-in-out;
}
#all_stock_filter_container_main_market_cap_hidden_box_content_btn_large {
  width: 33.33%;
  height: 100%;
  border: 1.5px solid #e1e1e1d2;
  border-radius:5px;
  overflow:hidden;
}
.all_stock_filter_cap_hidden_box_content_btn_large_btn{
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight:500;
  color: #9d9d9d;
  border-radius:5px;
  transition:0.2s ease-in-out;
}

#market_cap_active_range_btn{
  border: 1px solid #52b49cbe;
  background-color: #52b49c17;
  border-radius:5px;
  color:#0bb187cb;
  font-weight: 500;
}
/* .....................CLOSE PRICE.......................  */

.all_stock_filter_container_main_close_price {
  /* background-color: rgb(27, 103, 130); */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1.5px solid #e5e5e5;
  color: #767676;
  font-size: 15px;
}
.all_stock_filter_container_main_close_price_arrange_width {
  /* background-color: #cacaca68; */
  width: 90%;
  height: 100%;
  height: fit-content;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.all_stock_filter_container_main_close_price_head {
  /* background-color: pink; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#all_stock_filter_container_main_close_price_head_title {
  /* background-color: rgb(210, 179, 241); */
  color: #6c6e7b;
  font-size: 15px;
  font-weight: 500;
}

#all_stock_filter_container_main_close_price_head_toggle_arrow svg {
  color: #44475b;
}
.all_stock_filter_container_main_close_price_hidden_box {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 0px;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#asf_close_price_hidden_box {
  height: 100px;
}

#all_stock_filter_container_main_close_price_hidden_box_input_start {
  height: 45px;
  width: 40%;
  border-radius: 4px;
  border: 1.5px solid #e1e1e1d2;
  padding: 0px 10px;
  text-align: end;
  transition: 0.15s ease-in-out;
  font-size: 16px;
  color: #535353;
}
#all_stock_filter_container_main_close_price_hidden_box_input_start:focus {
  border: 1.5px solid #00b3869b;
}
#all_stock_filter_container_main_close_price_hidden_box_to {
  height: 40px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #bebdbd;
}
#all_stock_filter_container_main_close_price_hidden_box_input_end {
  height: 45px;
  width: 40%;
  border-radius: 4px;
  border: 1.5px solid #e1e1e1d2;
  padding: 0px 10px;
  text-align: end;
  transition: 0.15s ease-in-out;
  font-size: 16px;
  color: #535353;
}
#all_stock_filter_container_main_close_price_hidden_box_input_end:focus {
  border: 1.5px solid #00b3869b;
}

/* ..................... svg rotate .................  */

#svg_rotate_on_open {
  rotate: 180deg;
  transition: 0.3s ease-in-out;
}
#svg_rotate_on_close {
  rotate: 0deg;
  transition: 0.3s ease-in-out;
}

/* .....................RIGHT.......................  */

.all_stock_list_container {
  /* background-color: rgba(165, 42, 42, 0.448); */
  width: 67.5%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.all_stock_list_pagination_main_box{
  border: 1.5px solid #e5e5e5;
  width: 100%;
  height: 1226px;
  border-radius: 5px;
  overflow: hidden;

  
}
.all_stock_list_pagination_main_box_head{
  /* background-color: rgba(128, 128, 128, 0.582); */
  width: 100%;
  height: 65px;
  height: 60px;
  border-bottom: 1.5px dashed #e5e5e5 ;
  display: flex;
  justify-content: center;
  align-items: center;
}


.all_stock_list_pagination_main_box_head_arrange_width{
  /* background-color: #EBF9F5; */
  width: 95%;
  height: 100%;
  display: flex;
  
}
.all_stock_list_pagination_main_box_head_company_and_graph{
  /* background-color: pink; */
  width: 72%;
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.all_stock_list_pagination_main_box_head_company{
  /* background-color: #ededed; */
  min-width: 65px;
  height: fit-content;
}

.all_stock_list_pagination_main_box_head_company span{
  font-size: 14px;
  font-weight: 500;
  color: #7C7E8C;
}

.all_stock_list_pagination_main_box_head_price_and_watchlist{
  /* background-color: goldenrod; */
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 165px;
    justify-content: space-between;
}
.all_stock_list_pagination_main_box_head_price{
  /* background-color: slateblue; */
  min-width: 84px;
  height: fit-content;
}
.all_stock_list_pagination_main_box_head_price span{
  /* background-color: slateblue; */
  font-size: 14px;
  font-weight: 500;
  color: #7C7E8C;
}
.all_stock_list_pagination_main_box_head_watchlist{
  /* background-color: skyblue; */
  min-width: 60px;
  height: fit-content;
}
.all_stock_list_pagination_main_box_head_watchlist span{
  font-size: 14px;
  font-weight: 500;
  color: #7C7E8C;
}



/* ............  */



.all_stock_list_pagination_main_box_components{
  /* background-color: #5b44599d; */
  width: 100%;
  height: auto;
  flex-grow: 1;
  max-height: 1096px;
  min-height: 1096px;
  overflow: hidden;
}



/* ............  */


.all_stock_list_pagination_main_box_pagination_box {
  /* background-color: rgba(32, 178, 171, 0.571); */
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_stock_list_pagination_main_box_pagination_box_arrange_width{
  /* background-color: rgb(218, 32, 91); */
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px){
  .all_stock_filter_and_stock_list_container{
    /* background-color: rgba(255, 0, 0, 0.425); */
    flex-direction: column;
    height: fit-content;
    padding-bottom: 100px;
  }
  .all_stock_filter_container {
    /* background-color: rgba(0, 103, 0, 0.411); */
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
  }
  .all_stock_list_container {
    /* background-color: rgba(165, 42, 42, 0.448); */
    width: 100%;
    /* height: 100%; */
    border-radius: 5px;
    overflow: hidden;
  }
}