.wallet_main {
  /* background-color: pink; */
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 20px;
  /* prevent to select text  */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wallet_main_arrange_width {
  /* background-color: gray; */
  width: 95%;
  height: auto;
  max-width: 1230px;
  display: flex;
  gap: 32px;
  margin-top: 110px;
  margin-bottom: 200px;
  flex-direction: row;
}
.wallet_main_wallet_card_div {
  /* background-color: lightgreen; */
  width: 67.5%;
  /* height: 100%; */
}

.wallet_main_wallet_card_main {
  /* background-color: rgb(159, 170, 119); */
  width: 100%;
  /* min-height: 350px; */
  border: 1.5px solid #e6e6e6;
  border-radius: 15px;
  overflow: hidden;
}
.wallet_main_wallet_card_main_for_stock_balance {
  /* background-color: violet; */
  border-bottom: 1.5px solid #e6e6e6;
  width: 100%;
  height: 150px;
  display: flex;
}

.wallet_main_wallet_card_main_for_stock_balance_left {
  /* background-color: rosybrown; */
  width: 90%;
  height: 100%;
  min-width: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#wallet_main_wallet_card_main_for_stock_balance_left_title {
  /* background-color: tan; */
  width: 93%;
  font-size: 14px;
  color: #6c6e7c;
}

#wallet_main_wallet_card_main_for_stock_balance_left_money {
  /* background-color: rgb(124, 124, 160); */
  width: 93%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: end;
}

#wallet_main_stock_balance_large {
  /* background-color: green; */
  font-size: 40px;
  color: #44475b;
  font-weight: 500;
}

#wallet_main_stock_balance_small {
  /* background-color: rebeccapurple; */
  font-size: 12px;
  font-weight: 500;
  color: #2f2f2f;
  margin-bottom: 9px;
}

.wallet_main_wallet_card_main_for_stock_balance_right {
  /* background-color: wheat; */
  width: 10%;
  height: 100%;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet_main_wallet_card_main_for_stock_balance_right button {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.wallet_main_wallet_card_main_for_stock_balance_right button svg {
  color: #44475b;
}

.wallet_main_wallet_card_main_user_balance {
  /* background-color: teal; */
  border-bottom: 1.5px solid #e6e6e6;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet_main_wallet_card_main_user_balance_arrange_width {
  /* background-color: pink; */
  width: 93%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wallet_main_wallet_card_main_user_balance_title {
  font-size: 16px;
  color: #44475b;
}

#wallet_main_wallet_card_main_user_balance_money_view {
  font-size: 16px;
  font-weight: 500;
  color: #44475b;
}

.wallet_main_wallet_card_main_all_transaction {
  /* background-color: royalblue; */
  width: 100%;
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}
.wallet_main_wallet_card_main_all_transaction_arrange_width {
  /* background-color: pink; */
  width: 93%;
  height: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wallet_main_wallet_card_main_all_transaction_title {
  font-size: 16px;
  font-weight: 500;
  color: #44475b;
}
#wallet_main_wallet_card_main_all_transaction_open {
  color: #44475b;
}
#wallet_main_wallet_card_main_all_transaction_open #close_rotate {
  rotate: 90deg;
  transition: 0.4s ease-in-out;
}
#wallet_main_wallet_card_main_all_transaction_open #open_rotate {
  rotate: 270deg;
  transition: 0.4s ease-in-out;
}

.wallet_main_wallet_card_main_all_transaction_show_on_open_arrange_width {
  /* background-color: lightsalmon; */
  width: 93%;
  transition: 0.5s ease-in-out;
}
.wallet_main_wallet_card_main_all_transaction_show_on_open_arrange_width_animation {
  width: 100%;
  height: fit-content;
}

.wallet_main_wallet_card_main_all_transaction_show_on_open_div {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
}
.wallet_main_wallet_card_main_all_transaction_show_on_open_div #date {
  font-size: 15px;
  color: #6c6e7c;
}
.wallet_main_wallet_card_main_all_transaction_show_on_open_div #money {
  font-size: 15px;
  color: #6c6e7c;
}

.wallet_main_arrange_width_deposit_money_main {
  /* background-color: pink; */
  width: 32.5%;
  min-width: 300px;
  height: fit-content;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  overflow: hidden;
  /* box-sizing: border-box; */
}
.wallet_main_arrange_width_deposit_money_main_top {
  /* background-color: lightcyan; */
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}
.wallet_main_arrange_width_deposit_money_main_top_arrange_width {
  /* background-color: rgba(255, 0, 255, 0.235); */
  width: 93%;
  height: 100%;
}

.wallet_main_arrange_width_deposit_money_main_top_title {
    /* background-color: thistle; */
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  gap: 10px;
}
#wallet_main_money_main_top_title_deposit {
  /* background-color: firebrick; */
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  color: #44475b;
  padding: 0px 5px;
  cursor: pointer;
  padding-top: 10px;
}
#wallet_main_money_main_top_title_withdraw {
  /* background-color: firebrick; */
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  color: #44475b;
  padding: 0px 5px;
  cursor: pointer;
  padding-top: 10px;
}

.wallet_main_arrange_width_deposit_money_main_top_animation_scroll {
  /* background-color: rgba(42, 186, 114, 0.688); */
  width: 100%;
  height: 15%;
  display: flex;
  align-items: end;
  position: relative;
}
.animation_move_payment_option{
    background-color: #00b386;
    width: 70px;
    height: 4px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    transition: 0.4s ease-in-out;
}
#move_to_option_deposit{
    left: 0px;
    transition: 0.3s ease-in-out;
}
#move_to_option_withdraw{
  background-color: #eb5b3c;
    left: 80px;
    width: 90px;
    transition: 0.3s ease-in-out;
}

.wallet_main_arrange_width_deposit_money_main_bottom {
  /* background-color: #84e37d7c; */
  width: 100%;

  height: auto;
  display: flex;
  justify-content: center;
}
.wallet_main_arrange_width_deposit_money_main_bottom_arrange_width {
  /* background-color: darkkhaki; */
  width: 93%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.wallet_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_main{
    /* background-color: pink; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.wallet_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_title_box{
    /* background-color: rgb(214, 198, 228); */
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}
.wallet_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_title_box span{
    color: #56586a;
    font-size: 16px;

}
.wallet_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_input_box{
    /* background-color: rgb(193, 191, 187); */
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.wallet_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_input_box input{
    background-color: #c8f4e8;
    width: 105px;
    border: none;
    height: 30px;
    text-align: end;
    padding: 0px 7px 0px 25px;
    color: #00b386;
    font-size: 17px;
}
.wallet_main_arrange_width_deposit_money_main_bottom_deposit_enter_amount_input_box span{
    position: absolute;
    color: #00b386;
    left: 8px;
    font-weight: 500;
    font-size: 19px;
}

.wallet_main_arrange_width_deposit_money_main_bottom_add_money_pp_option{
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

#wallet_main_arrange_width_deposit_money_main_bottom_add_money_pp_option_100{
  width: 55px;
  height: 24px;
  background-color: #ddfcf3c3;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #00b386;
  cursor: pointer;
}
#wallet_main_arrange_width_deposit_money_main_bottom_add_money_pp_option_500{
  width: 55px;
  height: 24px;
  background-color: #ddfcf3c3;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #00b386;
  cursor: pointer;
}



.wallet_main_arrange_width_deposit_money_main_bottom_deposit_button_main_div{
  /* background-color: #2f2f2f; */
  width: 100%;
  height: 65px;
}

#wallet_main_arrange_width_deposit_money_main_bottom_deposit_button{
    background-color: #00b386;
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

/* ...................  */

.wallet_main_arrange_width_withdraw_money_main_bottom_arrange_width {
  /* background-color: darkkhaki; */
  width: 93%;
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.wallet_main_arrange_width_deposit_money_main_bottom_withdrawable_or_not{
  /* background-color: yellow; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wallet_main_arrange_width_deposit_money_main_bottom_withdrawable_title{
  color: #56586a;
  font-size: 16px;
}

#wallet_main_arrange_width_deposit_money_main_bottom_withdrawable_money{
  color: #56586a;
  font-size: 16px;
  font-weight: 500;
}


.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_main{
    /* background-color: pink; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_title_box{
    /* background-color: rgb(214, 198, 228); */
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}
.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_title_box span{
    color: #56586a;
    font-size: 16px;

}
.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_input_box{
    /* background-color: rgb(193, 191, 187); */
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_input_box input{
    background-color: #ffe6df;
    width: 105px;
    border: none;
    height: 30px;
    text-align: end;
    padding: 0px 7px 0px 25px;
    color: #eb5b3c;
    font-size: 17px;
}
.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_enter_amount_input_box span{
    position: absolute;
    color: #eb5b3c;
    left: 8px;
    font-weight: 500;
    font-size: 19px;
}

.wallet_main_arrange_width_withdraw_money_main_bottom_add_money_pp_option{
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100px;
  display: flex;
  gap: 10px;
  justify-content: end;
}

#wallet_main_arrange_width_withdraw_money_main_bottom_add_money_pp_option_100{
  width: 55px;
  height: 24px;
  background-color: #ffe1d9;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #eb5b3c;
  cursor: pointer;
}
#wallet_main_arrange_width_withdraw_money_main_bottom_add_money_pp_option_500{
  width: 55px;
  height: 24px;
  background-color: #ffe1d9;
  color: #898989;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 13.5px;
  padding: 0px 4px 1px 0px;
  border: 1px solid #ff937b;
  cursor: pointer;
}



.wallet_main_arrange_width_withdraw_money_main_bottom_deposit_button_main_div{
  /* background-color: #2f2f2f; */
  width: 100%;
  height: 65px;
}

#wallet_main_arrange_width_withdraw_money_main_bottom_deposit_button{
    background-color: #eb5b3c;
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}





@media (max-width: 750px) {
  .wallet_main_arrange_width {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .wallet_main_wallet_card_div {
    /* background-color: lightgreen; */
    width: 100%;
  }
  .wallet_main_arrange_width_deposit_money_main {
    /* background-color: pink; */
    width: 100%;
  }
}
