.user_profile_main {
  /* background-color: pink; */
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  position: relative;
}

.user_profile_main_arrange_width {
  width: 100%;
  display: flex;
  justify-content: center;
}
.user_profile_main_make_center_contain_box{
  /* background-color: thistle; */
  width: 95%;
  max-width: 1230px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 70px 0px 120px 0px;
}
.user_profile_left_container {
  /* background-color: #b143d0; */
  width: 28%;
  height: 100%;
  min-width: 260px;
  max-height: 300px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
}
.user_profile_left_image_box_main {
  /* background-color: tan; */
  width: 100%;
  height: 50%;
  min-height: 180px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.user_profile_left_image_circle {
  /* background-color: gray; */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 0.5px solid #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #f8f8f8;
}

.user_profile_left_image_user_name {
  /* background-color: lightcyan; */
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_profile_left_image_user_name span {
  font-size: 18px;
  font-weight: 500;
  color: #403e3e;
  max-width: 70%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user_profile_left_option_box_main {
  /* background-color: #8cbad2; */
  width: 100%;
  height: 100%;
}

.user_profile_left_option_box_main_basic_detail_section {
  /* background-color: #bababa; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  /* prevent to select text  */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user_profile_left_option_box_main_basic_detail_section:hover {
  background-color: #f7f7f7be;
}
.user_profile_left_option_box_main_section_heading {
  /* background-color: rgb(192, 236, 255); */
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #403e3e;
}

.user_profile_left_option_box_main_edit_profile_section {
  /* background-color: #bbbbbb; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  /* prevent to select text  */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user_profile_left_option_box_main_edit_profile_section:hover {
  background-color: #f7f7f7be;
  /* background-color: #f0f0f0ea; */
}

.user_profile_right_container {
  /* background-color: steelblue; */
  width: 72%;
  height: 500px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
}

/* user_profile_basic_detail_component_main */

.user_profile_basic_detail_component_main {
  /* background-color: pink; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* prevent to select text  */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user_profile_basic_detail_component_main_design_1 {
  background-color: #defff877;
  width: 120px;
  height: 150px;
  position: absolute;
  right: 0;
  top: -10px;
  border-radius: 40% 0% 0% 150%;
  z-index: 1;
}
.user_profile_basic_detail_component_main_design_2 {
  background-color: #defff877;
  width: 50px;
  height: 30px;
  position: absolute;
  right: 140px;
  top: 10px;
  border-radius: 45%;
  z-index: 1;
}
.user_profile_basic_detail_component_main_design_3 {
  background-color: #defff877;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 70px;
  top: 180px;
  border-radius: 50%;
  z-index: 1;
}
.user_profile_basic_detail_component_main_design_4 {
  background-color: #e5e5e595;
  width: 100px;
  height: 170px;
  position: absolute;
  right: -65px;
  bottom: 90px;
  border-radius: 50% 0% 0% 50%;
  z-index: 1;
}
.user_profile_basic_detail_component_main_design_5 {
  background-color: #d5dbff97;
  width: 170px;
  height: 80px;
  position: absolute;
  right: -10px;
  bottom: -20px;
  border-radius: 1000% 150% 22% 100%;
  z-index: 1;
}
.user_profile_basic_detail_component_arrange_width {
  /* background-color: rgba(255, 192, 203, 0.314); */
  width: 90%;
  height: 80%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 60px; */
}
.user_profile_basic_detail_component_detail_container_left {
  /* background-color: rgba(0, 128, 128, 0.545); */
  overflow: hidden;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user_profile_basic_detail_component_detail_user_name_main {
  /* background-color: green; */
  width: 100%;
  height: 85px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 5px;
}

#basicDetail_name_lable {
  font-size: 13px;
  color: #757575;
}
#basicDetail_name_showData {
  font-size: 17px;
  color: #403e3e;
  border-bottom: 1px solid #dedede;
  /* background-color: pink; */
  height: 35px;
  display: flex;
  align-items: center;
}
.user_profile_basic_detail_component_detail_container_right {
  /* background-color: rgba(184, 135, 11, 0.568); */
  overflow: hidden;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


/* user_profile_update_profile_component_main ---------------*/

.user_profile_update_profile_component_main {
  /* background-color: pink; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* prevent to select text  */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user_profile_update_profile_component_main_design_1 {
  /* background-color: #defff877; */
  background-color: #d5dbff97;
  width: 120px;
  height: 150px;
  position: absolute;
  right: 0;
  top: -10px;
  border-radius: 40% 0% 0% 150%;
  z-index: 1;
}
.user_profile_update_profile_component_main_design_2 {
  background-color: #d5dbff97;
  width: 50px;
  height: 30px;
  position: absolute;
  right: 140px;
  top: 10px;
  border-radius: 45%;
  z-index: 1;
}
.user_profile_update_profile_component_main_design_3 {
  background-color: #ffd5e951;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 70px;
  top: 180px;
  border-radius: 50%;
  z-index: 1;
}
.user_profile_update_profile_component_main_design_4 {
  background-color: #e7e7e77a;
  width: 100px;
  height: 170px;
  position: absolute;
  right: -65px;
  bottom: 90px;
  border-radius: 50% 0% 0% 50%;
  z-index: 1;
}
.user_profile_update_profile_component_main_design_5 {
  background-color: #defff877;
  width: 170px;
  height: 80px;
  position: absolute;
  right: -10px;
  bottom: -20px;
  border-radius: 1000% 150% 22% 100%;
  z-index: 1;
}
.user_profile_update_profile_component_main_design_6 {
  background-color: #defff877;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;
  bottom: 20px;
  border-radius: 45%;
  z-index: 1;
}
.user_profile_update_profile_component_main_design_7 {
  background-color: #ffd5e951;
  width: 170px;
  height: 60px;
  position: absolute;
  right: 400px;
  bottom: 250px;
  border-radius: 100% 150% 112% 100%;
  z-index: 1;
}
.user_profile_update_profile_component_arrange_width {
  /* background-color: rgba(255, 192, 203, 0.314); */
  width: 90%;
  height: 80%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 60px; */
}
.user_profile_update_profile_component_detail_container_left {
  /* background-color: rgba(0, 128, 128, 0.545); */
  overflow: hidden;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user_profile_update_profile_component_detail_user_name_main {
  /* background-color: green; */
  width: 100%;
  height: 85px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 5px;
}

#updateDetail_name_lable {
  font-size: 13px;
  color: #757575;
}
#updateDetail_name_showData {
  font-size: 17px;
  color: #403e3e;
  border-bottom: 1px solid #dedede;
  /* background-color: pink; */
  height: 35px;
  display: flex;
  align-items: center;
}
#updateDetail_name_showData input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    color: #009e79;
}
::placeholder {
    color: #d2d2d2;
    font-size: 15px;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #d2d2d2;
    font-size: 15px;
  }
.user_profile_update_profile_component_detail_container_right {
  /* background-color: rgba(184, 135, 11, 0.568); */
  overflow: hidden;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user_profile_update_profile_component_update_userData_enable_btn{
    background-color: #69e1c510;
    width: 75px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    bottom: 15px;
    z-index: 10;
    border-radius: 5px;
    border: 1.4px solid #41cead74;
    color: #21cba3;
    font-weight: 500;
    font-size: 13px;
    transition: 0.2s ease-in-out;
    padding-bottom: 2px;
}
.user_profile_update_profile_component_update_userData_enable_btn:hover{
    background-color: #33d3ae20;
}
.user_profile_update_profile_component_update_userData_disable_btn{
    background-color: #d8d8d82a;
    width: 75px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    bottom: 15px;
    z-index: 10;
    border-radius: 5px;
    border: 1.5px solid #d8d8d8d3;
    color: #a4a4a4;
    font-size: 13px;
    transition: 0.2s ease-in-out;
}



@media (max-width:850px){

    /* main arrange  */
    .user_profile_main_make_center_contain_box {
        /* background-color: thistle; */
        width: 95%;
        max-width: 1230px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 30px 0px 150px 0px;
      }
      .user_profile_left_container {
        /* background-color: #b143d0; */
        width: 100%;
        height: 100%;
        min-width: 200px;
        max-height: 300px;
        border-radius: 10px;
        border: 1px solid #dbdbdb;
        overflow: hidden;
      }
      .user_profile_right_container {
        /* background-color: steelblue; */
        width: 100%;
        height: 950px;
        border-radius: 10px;
        border: 1px solid #dbdbdb;
        overflow: hidden;
      }
    /* profile Update  */

    .user_profile_update_profile_component_arrange_width {
        /* background-color: rgba(255, 192, 203, 0.314); */
        width: 90%;
        height: 90%;
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user_profile_update_profile_component_detail_container_left {
        /* background-color: rgba(0, 128, 128, 0.545); */
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      .user_profile_update_profile_component_detail_container_right {
        /* background-color: rgba(184, 135, 11, 0.568); */
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }

      /* BasicDetail */
    .user_profile_basic_detail_component_arrange_width {
        /* background-color: rgba(255, 192, 203, 0.314); */
        width: 90%;
        height: 90%;
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .user_profile_basic_detail_component_detail_container_left {
        /* background-color: rgba(0, 128, 128, 0.545); */
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      .user_profile_basic_detail_component_detail_container_right {
        /* background-color: rgba(184, 135, 11, 0.568); */
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
}