* {
  margin: 0;
  padding: 0;
}
.stocks_main {
  /* background-color: rgb(247, 251, 255); */
  width: 100%;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 225px;
  /* prevent to select text  */
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.stocks_width_arrange {
  /* background-color: bisque; */
  width: 95%;
  height: 100%;
  max-width: 1230px;
  display: flex;
  box-sizing: border-box;
  gap: 25px;
}
.stocks_main_content_left {
  /* background-color: forestgreen; */
  height: 100%;
  width: 67%;
  display: flex;
  flex-direction: column;
  /* gap: 60px; */
}

/* ................ stock_left_index .............  */

.stock_left_index {
  /* background-color: yellowgreen; */
  width: 99.5%;
  height: 180px;
}
.stock_left_index_title {
  /* background-color: #d9eb87; */
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.stock_left_index_title button{
  /* background-color: #d9eb87; */
  background-color: transparent;
  border: none;
}
.stock_left_index_title p {
  color: #434343;
  font-weight: 500;
  font-size: 19px;
}
.stock_left_index_title #allIndices {
  /* color: #00B386; */
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #00b386;
}

.stock_left_index_component_boxes {
  /* background-color: thistle; */
  width: 100%;
  height: 75%;
  display: flex;
  align-items: start;
  gap: 12px;
  overflow-x: scroll;
}
.stock_left_index_component_boxes::-webkit-scrollbar {
  display: none;
}

/* ......................... stock_left_most_bought_on_groww  ...............  */


.stock_left_most_bought_on_groww {
  /* background-color: skyblue; */
  width: 99.5%;
  height: 245px;
  display: flex;
  flex-direction: column;
}
.stock_left_most_bought_on_groww_title {
  /* background-color: #a15e0b; */
  width: 100%;
  height: 18%;
  overflow: hidden;
}
.stock_left_most_bought_on_groww_title span {
  color: #434343;
  font-size: 18.5px;
  font-weight: 500;
}
.stock_left_most_bought_on_groww_component {
  /* background-color: #8b008b; */
  width: 100%;
  height: 72%;
  /* min-width: 770px; */
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 18px;
}

.stock_left_most_bought_on_groww_component::-webkit-scrollbar {
  display: none;
}

/* .................. stocks_left_product_and_tools ...............  */

.stocks_left_product_and_tools {
  /* background-color: rgb(235, 163, 135); */
  width: 99.5%;
  height: 160px;
  margin-top: 35px;
}

.stocks_left_product_and_tools_title {
  /* background-color: #a980a9; */
  width: 100%;
  height: 25%;
}
.stocks_left_product_and_tools_title span {
  font-size: 18.5px;
  color: #434343;
  font-weight: 500;
}

.stocks_left_product_and_tools_card_section {
  /* background-color: cadetblue; */
  width: 100%;
  height: 75%;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  justify-content: space-between;
}

.stocks_left_product_and_tools_card_section::-webkit-scrollbar {
  display: none;
}

/* ..........stocks_left_top_gainers.........  */

.stocks_left_top_gainers {
  /* background-color: rgb(217, 235, 135); */
  width: 99.5%;
  height: 280px;
  margin-top: 60px;
}

.stocks_left_top_gainers_heading {
  /* background-color: rgb(220, 135, 235); */
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: space-between;
}
.stocks_left_top_gainers_heading_title {
  font-size: 19px;
  color: #373737;
  font-weight: 500;
}
.stocks_left_top_gainers_heading_seeMore {
  height: fit-content;
  
}
.stocks_left_top_gainers_heading_seeMore button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #00b386;
  font-weight: 500;
  cursor: pointer;
  
}
.stocks_left_top_gainers_filter {
  /* background-color: #6632cd; */
  width: 100%;
  height: 18%;
  display: flex;
  gap: 20px;
}
.stocks_left_top_gainers_filter_large,
.stocks_left_top_gainers_filter_mid,
.stocks_left_top_gainers_filter_small {
  background-color: #ffffff;
  cursor: pointer;
  height: 30px;
  padding: 0px 11px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ededed;
  color: #989898;
}
#stocks_left_top_gainers_filter_active {
  background-color: #ebf9f5;
  color: #00b386;
  border: 1px solid #ebf9f5;
}



.stocks_left_top_gainers_card_component {
  /* background-color: thistle; */
  width: 100%;
  height: 64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  overflow-x: scroll;
}

.stocks_left_top_gainers_card_component::-webkit-scrollbar {
  display: none;
}


/* ............ stocks_left_in_news ...........  */
.stocks_left_in_news {
  /* background-color: rgb(135, 235, 175); */
  width: 99.5%;
  height: 225px;
  margin-top: 60px;

}

.stocks_left_in_news_heading{
  /* background-color: rosybrown; */
  width: 100%;
  height: 21%;
  display: flex;
  justify-content: space-between;
}
.stocks_left_in_news_heading_title{
  color: #373737;
  font-size: 19px;
  font-weight: 500;
}
.stocks_left_in_news_heading_news_box{
  background-color: #EBF9F5;
  border: none;
  display: flex;
  height: fit-content;
  width: 80px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 20px;
  cursor: pointer;
}
.stocks_left_in_news_heading_news_box svg{
  background-color: white;
  background-color: #EBF9F5;
  fill: #00B386;
  stroke: #EBF9F5;
}
.stocks_left_in_news_heading_news_box p{
  font-size: 13px;
  font-weight: 500;
  background-color: #EBF9F5;
  color: #00B386;
}

.stocks_left_in_news_card_component{
  /* background-color: #bbeea3; */
  width: 100%;
  height: 79%;
  display: flex;
  gap: 18px;
  justify-content: space-between;
  overflow-y: scroll;
}
.stocks_left_in_news_card_component::-webkit-scrollbar {
  display: none;
}


/* ........................... stocks_left_top_losers ...................  */


.stocks_left_top_losers {
  /* background-color: rgb(220, 135, 235); */
  width: 99.5%;
  height: 280px;
  margin-top: 60px;
}


.stocks_left_top_losers_heading {
  /* background-color: rgb(220, 135, 235); */
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: space-between;
}
.stocks_left_top_losers_heading_title {
  font-size: 19px;
  color: #373737;
  font-weight: 500;
}
.stocks_left_top_losers_heading_seeMore {
  height: fit-content;
}
.stocks_left_top_losers_heading_seeMore button{
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #00b386;
  font-weight: 500;
  cursor: pointer;
}
.stocks_left_top_losers_filter {
  /* background-color: #6632cd; */
  width: 100%;
  height: 18%;
  display: flex;
  gap: 20px;
}
.stocks_left_top_losers_filter_large,
.stocks_left_top_losers_filter_mid,
.stocks_left_top_losers_filter_small {
  background-color: #ffffff;
  cursor: pointer;
  height: 30px;
  padding: 0px 11px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ededed;
  color: #989898;
}
#stocks_left_top_losers_filter_active {
  background-color: #ebf9f5;
  color: #00b386;
  border: 1px solid #ebf9f5;
}



.stocks_left_top_losers_card_component {
  /* background-color: thistle; */
  width: 100%;
  height: 64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  overflow-x: scroll;
}

.stocks_left_top_losers_card_component::-webkit-scrollbar {
  display: none;
}
/* .................. stocks_left_top_sector ................  */

.stocks_left_top_sector{
  /* background-color: pink; */
  width: 100%;
  /* height: 250px; */
  margin-top: 60px;
}
.stocks_left_top_sector_heading{
  /* background-color: rgb(244, 244, 124); */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.stocks_left_top_sector_heading span{
  /* background-color: #EBF9F5; */
  font-size: 19px;
  font-weight: 500;
  color: #373737;
  height: fit-content;
}
.stocks_left_top_sector_heading button{
  background-color: transparent;
  border: none;
  height: fit-content;
  cursor: pointer;
}
.stocks_left_top_sector_heading button p{
  /* background-color: #ffffff; */
  font-size: 15px;
  font-weight: 500;
  color: #00B386;
}
.stocks_left_top_sector_card_component{
  /* background-color: indianred; */
  width: 100%;
  /* height: 180px; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: fit-content;
  margin-bottom: 10px;
}
/* ................ stocks_left_market_cap .............  */

.stocks_left_market_cap {
  /* background-color: rgb(198, 139, 84); */
  width: 99.5%;
  height: 905px;
  margin: 60px 0px;
  min-width: 282px;
  /* prevent to select text  */
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.stocks_left_market_cap_heading{
  /* background-color: yellow; */
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
}
.stocks_left_market_cap_heading_title{
  font-size: 19px;
  font-weight: 500;
  color: #373737;
  height: fit-content;
}
.stocks_left_market_cap_heading_seeMore{
  background-color: transparent;
  border: none;
  height: fit-content;
  cursor: pointer;
}

.stocks_left_market_cap_heading_seeMore p{
  /* background-color: #ffffff; */
  font-size: 15px;
  font-weight: 500;
  color: #00B386;
}

.stocks_left_market_cap_card_component_container{
  /* background-color: royalblue; */
  height: 94%;
  width: 100%;

}
.stocks_left_market_cap_card_component_container_main{
  /* background-color: #d5d5d5; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1.5px solid #e5e5e5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.stocks_left_market_cap_head_title_section{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 8%;
  height: 55px;
  border-bottom: 1.5px dashed #e5e5e5 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stocks_left_market_cap_head_title_section_arrange_width{
  /* background-color: #EBF9F5; */
  width: 95%;
  height: 100%;
  display: flex;
  
}
.stocks_left_market_cap_head_title_section_company_and_graph{
  /* background-color: pink; */
  width: 72%;
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.stocks_left_market_cap_head_title_section_company{
  /* background-color: #ededed; */
  min-width: 65px;
  height: fit-content;
}

.stocks_left_market_cap_head_title_section_company span{
  font-size: 14px;
  font-weight: 500;
  color: #7C7E8C;
}

.stocks_left_market_cap_head_title_section_price_and_watchlist{
  /* background-color: goldenrod; */
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 165px;
    justify-content: space-between;
}
.stocks_left_market_cap_head_title_section_price{
  /* background-color: slateblue; */
  min-width: 84px;
  height: fit-content;
}
.stocks_left_market_cap_head_title_section_price span{
  /* background-color: slateblue; */
  font-size: 14px;
  font-weight: 500;
  color: #7C7E8C;
}
.stocks_left_market_cap_head_title_section_watchlist{
  /* background-color: skyblue; */
  min-width: 60px;
  height: fit-content;
}
.stocks_left_market_cap_head_title_section_watchlist span{
  font-size: 14px;
  font-weight: 500;
  color: #7C7E8C;
}

.stocks_left_market_cap_card_component_section {
  /* background-color: pink; */
  width: 100%;
  flex-grow: 1;
}

.stocks_left_market_cap_pagination_section {
  /* background-color: rgb(160, 198, 204); */
  width: 100%;
  height: 8%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stocks_left_market_cap_pagination_section_arrange_width{
  /* background-color: rgb(218, 32, 91); */
  width: 95%;
  height: 100%;
}




/* ........... right ............  */

.stocks_content_right {
  /* background-color: #9a939a; */
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 60px;
}
.stocks_content_right_yourInvestments {
  /* background-color: #d9eb87; */
  width: 99%;
  height: 120px;
}
.stocks_content_right_yourInvestments_title_head {
  /* background-color: #dbdbdb; */
  width: 100%;
  height: 37%;
  display: flex;
  justify-content: space-between;
}
#scry_title_text {
  font-size: 19px;
  font-weight: 500;
  color: #4a4a4a;
}
#scry_more {
  height: fit-content;
}
#scry_more button{
  font-size: 14px;
  font-weight: 500;
  color: #00b386;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.stocks_content_right_yourInvestments_card_main {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 63%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1.5px solid #e5e5e5;
  gap: 5px;
  box-sizing: border-box;
  padding: 14px 14px;
}
.stocks_content_right_yourInvestments_card_main_total_return {
  /* background-color: teal; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#stocks_content_right_yourInvestments_card_main_total_return_rupees {
  /* background-color: rgb(235, 163, 135); */
  font-size: 18px;
  font-weight: 500;
  color: #4a4a4a;
}
#stocks_content_right_yourInvestments_card_main_total_return_title {
  /* background-color: crimson; */
  font-size: 14px;
  color: #898989;
}
.stocks_content_right_yourInvestments_card_main_current_value {
  /* background-color: #322d92; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: end; */
}
#stocks_content_right_yourInvestments_card_main_current_value_rupees {
  /* background-color: rgb(186, 29, 186); */
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 500;
  color: #4a4a4a;
}
#stocks_content_right_yourInvestments_card_main_current_value_title {
  /* background-color: olivedrab; */
  display: flex;
  justify-content: end;
  font-size: 14px;
  color: #898989;
}

.stocks_content_right_watchLists {
  background-color: steelblue;
  width: 99%;
  height: 180px;
}
.stocks_content_right_watchLists_title_head {
  background-color: #a980a9;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
#scrw_title_text {
  font-size: 19px;
  font-weight: 500;
  color: #373737;
}
#scrw_more {
  font-size: 14px;
  font-weight: 500;
  color: #00b386;
  cursor: pointer;
}
.stocks_content_right_watchLists_card_main {
  background-color: #007924;
  width: 100%;
  height: 70%;
}



@media (max-width: 900px) {
  .stocks_content_right {
    display: none;
  }
  .stocks_main_content_left {
    width: 100%;
  }
}
