.coming_soon_main{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
.coming_soon_main_svg_and_text{
    /* background-color: rgb(0, 0, 0); */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.coming_soon_main_svg_box{
    /* background-color: yellowgreen; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}
.coming_soon_main_svg_box_arrange_width{
    /* background-color: gold; */
    width: 100%;
    max-width: 570px;
}
.coming_soon_main_svg_box svg{
    /* background-color: yellowgreen; */
    width: 100%;
    height: 100%;
}
.coming_soon_main_text{
    /* background-color: red; */
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.coming_soon_main_text_box_arrange_width{
    /* background-color: violet; */
    max-width: 550px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
#coming_soon_working{
    font-size: 28px;
    font-weight: 500;
    color: #d0d0d0;
    
}
#coming_soon_text{
    font-size: 28px;
    font-weight: 500;
    color: #d0d0d0;
}