.buy_stock_card_main{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    
}
.buy_stock_card_main_title_head{
    /* background-color: #ffd90025; */
    width: 100%;
    height: 12.5%;
    border-bottom: 1.5px solid #eeeeeecf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_stock_card_main_title_head_arrange_width{
    /* background-color: #ffd90031; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#buy_stock_card_company_name{
    font-size: 16px;
    color: #44475b;
    font-weight: 500;
}
#buy_stock_card_nse_and_bse{
    color: #6d6f7f;
    font-size: 12px;
    
}
.buy_stock_card_main_buy_and_sell{
    /* background-color: #4683b40e; */
    width: 100%;
    height: 87.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buy_stock_card_main_buy_and_sell_switch{
    /* background-color: #4683b40e; */
    width: 100%;
    height: 9%;
    border-bottom: 1.5px solid #eeeeeecf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_stock_card_main_buy_and_sell_switch_arrange_width{
    /* background-color: #4683b40e; */
    width: 90%;
    height: 100%;
    box-sizing: border-box;

}

.buy_stock_card_main_buy_and_sell_switch_buttons{
    /* background-color: royalblue; */
    width: 120px;
    height: 82%;
    display: flex;
    gap: 2px;
}

#Buy_option_btn{
    background-color: transparent;
    border: none;
    width: 50%;
    height: 100%;
    cursor: pointer;
    font-size: 15.5px;
    font-weight: 500;
    color: #7c7e8c;
}

#sell_option_btn{
    background-color: transparent;
    border: none;
    width: 50%;
    height: 100%;
    cursor: pointer;
    font-size: 15.5px;
    font-weight: 500;
    color: #7c7e8c;
}

.buy_stock_card_main_buy_and_sell_switch_animation{
    /* background-color: violet; */
    width: 120px;
    height: 18%;
    display: flex;
    align-items: end;
    /* justify-content: end; */
    position: relative;
    overflow: hidden;
}
.buy_stock_card_switch_animation_line{
    background-color: #00b386;
    width: 50%;
    height: 5px;
    border-radius: 4px;
    position: absolute;
    left: 0px;
    transition: 0.25s ease-in-out;
}

#sellEnable_to_slide{
    transition: 0.25s ease-in-out;
    left: 60px;
    background-color: #eb5b3c;
}


.buy_stock_card_main_buy_and_sell_chose_rate_main{
    /* background-color: #ffff0003; */
    width: 100%;
    height: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_stock_card_main_buy_and_sell_chose_rate_main_arrange_width{
    /* background-color: rgba(255, 182, 193, 0.403); */
    width: 90%;
    height: 92%;
}
.buy_stock_card_main_buy_and_sell_chose_top{
    /* background-color: #6d6f7f; */
    width: 100%;
    height: 70%;
}
.buy_stock_card_main_buy_and_sell_chose_top_inputs_box{
    /* background-color: rgb(192, 246, 255); */
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buy_stock_card_main_buy_and_sell_chose_top_inputs_quality_main{
    /* background-color: #278a3b; */
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buy_stock_card_inputs_quality_title{
    /* background-color: pink; */
    font-size: 14px;
}

#buy_stock_card_inputs_quality_input{
    width: 120px;
    height: 90%;
    border: 1.7px solid #f0f0f0df;
    border-radius: 5px;
    text-align: end;
    padding: 0px 8px;
    font-size: 17px;
    transition: 0.1s ease-in-out;
}

#buy_stock_card_inputs_quality_input:focus{
    border: 1.7px solid #008d6aa6;
    transition: 0.1s ease-in-out;
}
.buy_stock_card_main_buy_and_sell_chose_top_inputs_price_main{
    /* background-color: #eb5b3c; */
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buy_stock_card_inputs_price_title{
    /* background-color: pink; */
    font-size: 14px;
}
#buy_stock_card_inputs_price_input{
    width: 120px;
    height: 90%;
    border: 1.7px solid #f0f0f0df;
    border-radius: 5px;
    text-align: end;
    padding: 0px 8px;
    font-size: 17px;
    transition: 0.1s ease-in-out;
}
#buy_stock_card_inputs_price_input:focus{
    border: 1.7px solid #008d6aa6;
    transition: 0.1s ease-in-out;
}
.buy_stock_card_main_buy_and_sell_chose_bottom{
    /* background-color: slateblue; */
    width: 100%;
    height: 30%;
}
.buy_stock_card_main_buy_and_sell_chose_bottom_notify_box{
    /* background-color: brown; */
    width: 100%;
    height: 40%;
    border-bottom: 1.5px solid #e1e1e1cf;
    display: flex;
    justify-content: center;
    align-items: start;
}
#buy_stock_card_main_buy_and_sell_chose_bottom_notify_span{
    background-color: #fff5e0;
    width: 100%;
    height: 37px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0px 7px;
    font-size: 12px;
    color: #545973;
    padding: 3px 7px 0px 10px;
}
.buy_stock_card_main_buy_and_sell_chose_bottom_button_and_text_cost_box{
    /* background-color: darkgreen; */
    width: 100%;
    height: 60%;
}
.buy_stock_card_main_buy_and_sell_chose_bottom_cost_text_box{
    /* background-color: azure; */
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buy_stock_card_main_buy_and_sell_chose_bottom_cost_text_balance{
    font-size: 11.5px;
    color: #44475b;
    
}
#buy_stock_card_main_buy_and_sell_chose_bottom_cost_text_approx{
    font-size: 11.5px;
    color: #44475b;
}
.buy_stock_card_main_buy_and_sell_chose_bottom_button_box{
    /* background-color: sandybrown; */
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: center;
    align-items: end;
}
#buy_stock_card_main_buy_btn{
    background-color: #00b386;
    width: 100%;
    height: 90%;
    max-height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
#buy_stock_card_main_sell_btn{
    background-color: #eb5b3c;
    width: 100%;
    height: 90%;
    max-height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}