*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footerMain{
    width: 100%;
    height: 420px;
    background-color: #f0f0f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerMain_screen_range{
    /* background-color: rgb(94, 122, 112); */
    width: 100%;
    height: 100%;
    max-width: 1230px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer_content_main{
    /* background-color: rgba(165, 165, 165, 0.789); */
    width: 100%;
    height: 80%;
    /* padding-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
}
.footer_content_main_contact{
    /* background-color: pink; */
    height: 85%;
    width:25%;
    min-width: 242px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.footer_content_main_contact_logo{
    /* background-color: rgb(137, 153, 153); */
    min-height: 55px;
    display: flex;
    align-items: center;
}
.footer_content_main_contact_location{
    /* background-color: rgb(98, 113, 169); */
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer_content_main_contact_location p{
    font-size: 16px;
    /* font-weight: 500; */
    color: #3d3d3d;
}
.footer_content_main_contact_location p a{
    color: #002229;
}
.footer_content_main_contact_social_media{
    /* background-color: #c13878; */
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 5px;
}
.footer_content_main_contact_social_media span{
    /* background-color: #38c13d; */
    height: 30px;
    width: 30px;
    /* min-width: 25px; */
    /* min-height: 25px; */
    display: flex;
    /* flex-direction: row; */
    cursor: pointer;
}
.footer_content_main_contact_social_media span img{
    /* background-color: #c13838; */
    height: 100%;
    width: 100%;
}




.footer_content_main_products{
    /* background-color: turquoise; */
    height: 85%;
    width:25%;
    min-width: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.footer_content_main_products_heading{
    /* background-color: #c13878; */
    min-height: 55px;
    display: flex;
    align-items: center;
}
.footer_content_main_products_heading p{
    font-size: 18px;
    font-weight: 500;
    color: #353535;
}
.footer_content_main_products_links{
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_content_main_products_links_Stocks {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_products_links_Stocks p {
    color: #3d3d3d;
}
.footer_content_main_products_links_Stocks:hover p {
    color: #00B386;
}

.footer_content_main_products_links_futureAndOptions {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_products_links_futureAndOptions p {
    color: #3d3d3d;
}
.footer_content_main_products_links_futureAndOptions:hover p {
    color: #00B386;
}
.footer_content_main_products_links_IPO {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_products_links_IPO p {
    color: #3d3d3d;
}
.footer_content_main_products_links_IPO:hover p {
    color: #00B386;
}
.footer_content_main_products_links_MutualFunds {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_products_links_MutualFunds p {
    color: #3d3d3d;
}
.footer_content_main_products_links_MutualFunds:hover p {
    color: #00B386;
}
.footer_content_main_products_NFO {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_products_NFO p {
    color: #3d3d3d;
}
.footer_content_main_products_NFO:hover p {
    color: #00B386;
}


/* ...................  */


.footer_content_main_groww{
    /* background-color: rgb(92, 128, 0); */
    height: 85%;
    width:25%;
    min-width: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.footer_content_main_groww_heading{
    /* background-color: #c13878; */
    min-height: 55px;
    display: flex;
    align-items: center;
}
.footer_content_main_groww_heading p{
    font-size: 18px;
    font-weight: 500;
    color: #353535;
}
.footer_content_main_groww_links{
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_content_main_groww_links_about_us {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_groww_links_about_us p {
    color: #3d3d3d;
}
.footer_content_main_groww_links_about_us:hover p {
    color: #00B386;
}

.footer_content_main_groww_links_pricing {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_groww_links_pricing p {
    color: #3d3d3d;
}
.footer_content_main_groww_links_pricing:hover p {
    color: #00B386;
}
.footer_content_main_groww_links_blogs {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_groww_links_blogs p {
    color: #3d3d3d;
}
.footer_content_main_groww_links_blogs:hover p {
    color: #00B386;
}
.footer_content_main_groww_links_careers {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_groww_links_careers p {
    color: #3d3d3d;
}
.footer_content_main_groww_links_careers:hover p {
    color: #00B386;
}
.footer_content_main_groww_links_media_and_press {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_groww_links_media_and_press p{
    color: #3d3d3d;
}
.footer_content_main_groww_links_media_and_press:hover p {
    color: #00B386;
}


/* ...............  */
.footer_content_main_quickLink{
    /* background-color: royalblue; */
    height: 85%;
    width:25%;
    min-width: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.footer_content_main_quickLink_heading{
    /* background-color: #c13878; */
    min-height: 55px;
    display: flex;
    align-items: center;
}
.footer_content_main_quickLink_heading p{
    font-size: 18px;
    font-weight: 500;
    color: #353535;
}
.footer_content_main_quickLink_links{
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_content_main_quickLink_links_amcMutualFund {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_quickLink_links_amcMutualFund p {
    color: #3d3d3d;
}
.footer_content_main_quickLink_links_amcMutualFund:hover p {
    color: #00B386;
}

.footer_content_main_quickLink_links_calculator {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_quickLink_links_calculator p {
    color: #3d3d3d;
}
.footer_content_main_quickLink_links_calculator:hover p {
    color: #00B386;
}
.footer_content_main_quickLink_links_glossary {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_quickLink_links_glossary p {
    color: #3d3d3d;
}
.footer_content_main_quickLink_links_glossary:hover p {
    color: #00B386;
}
.footer_content_main_quickLink_links_sitemap {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_quickLink_links_sitemap p {
    color: #3d3d3d;
}
.footer_content_main_quickLink_links_sitemap:hover p {
    color: #00B386;
}
.footer_content_main_quickLink_links_growwDigits {
    /* font-size: 16px; */
    /* background-color: red; */
    cursor: pointer;
}
.footer_content_main_quickLink_links_growwDigits p {
    color: #3d3d3d;
}
.footer_content_main_quickLink_links_growwDigits:hover p {
    color: #00B386;
}



/* ..................  */

.footer_build_with_love{
    /* background-color: darkred; */
    height: 25%;
    width: 100%;
    border-top: 1px solid #b9b9b9;
    display: flex;
    justify-content: space-between;
}
.footer_build_with_love_text{
    /* background-color: forestgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_build_with_love_text p{
    font-size: 14px;
    font-weight: 500;
    color: #313131;
}
.footer_build_with_love_logo{
    /* background-color: slateblue; */
    /* width: 30%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer_build_with_love_logo_googlePlay{
    /* background-color: orchid; */
    width: 125px;
    height: 40px;
}
.footer_build_with_love_logo_googlePlay img{
    /* background-color: orchid; */
    width: 100%;
    height: 100%;
}
.footer_build_with_love_logo_appStore{
    /* background-color: cadetblue; */
    width: 125px;
    height: 40px;
}
.footer_build_with_love_logo_appStore img{
    /* background-color: cadetblue; */
    width: 100%;
    height: 100%;
}
#footer_love_with_india_red_heard_text{
    font-size: 25px;
    color: #db0c0c;
}




@media only screen and (max-width: 880px) {
    .footerMain{
        height: 400px;
    }
    .footerMain_screen_range{
        width: 85%;
    }
    .footer_content_main{
        /* background-color: rgba(165, 165, 165, 0.789); */
        width: 100%;
        height: 80%;
        /* padding-top: 50px; */
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 20px;
    }
    .footer_content_main_contact_logo img{
        width: 130px;
        /* height: 150px; */
    }

    .footer_content_main_contact_location p{
        font-size: 14px;
    }
    .footer_content_main_products_heading p{
        font-size: 16px;
    }
    .footer_content_main_products_links p{
        font-size: 14px;
    }
    .footer_content_main_groww_heading p{
        font-size: 16px;
    }
    .footer_content_main_groww_links p{
        font-size: 14px;
    }
    .footer_content_main_quickLink_heading p{
        font-size: 16px;
    }
    .footer_content_main_quickLink_links p{
        font-size: 14px;
    }

    .footer_content_main_contact{
        /* background-color: teal; */
        display: flex;
        justify-content: space-between;
    }

    .footer_build_with_love_text p{
        font-size: 12px;
    }
    .footer_content_main_contact_logo img{
        /* background-color: yellow; */
        width: 100%;
        height: 100%;
        max-width: 130px;
    }
    .footer_content_main_contact_location{
        /* background-color: grey; */
    }
    .footer_content_main_contact_social_media{
        /* background-color: darkmagenta; */
    }

    .footer_build_with_love_logo_googlePlay{
        /* background-color: orchid; */
        width: 100px;
        height: 32px;
    }
    .footer_build_with_love_logo_appStore{
        /* background-color: cadetblue; */
        width: 100px;
        height: 32px;
    }


    /* .............. handel min-width ...............  */
    
    .footer_content_main_contact{
        /* background-color: pink; */
        height: 85%;
        width:25%;
        min-width: 102px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
    .footer_content_main_products{
        /* background-color: turquoise; */
        height: 85%;
        width:25%;
        min-width: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
    .footer_content_main_groww{
        /* background-color: rgb(92, 128, 0); */
        height: 85%;
        width:25%;
        min-width: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
    .footer_content_main_quickLink{
        /* background-color: royalblue; */
        height: 85%;
        width:25%;
        min-width: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
    #footer_love_with_india_red_heard_text{
        font-size: 20px;
        color: #db0c0c;
    }
}

@media only screen and (max-width: 650px) {
    .footerMain{
        height: auto;
    }
    .footerMain_screen_range{
        /* background-color: firebrick; */
        width: 80%;
    }
    .footer_content_main{
        /* background-color: #002d36; */
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 35px;
    }
    .footer_content_main_contact{
        /* background-color: yellowgreen; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer_content_main_contact_location{
        /* background-color: bisque; */
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .footer_content_main_contact_location p{
        text-align: center;
    }
    .footer_content_main_contact_social_media{
        /* background-color: violet; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_content_main_products{
        /* background-color: #a11800; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer_content_main_products_heading{
        /* background-color: tan; */
        min-height: 30px;
        
    }
    .footer_content_main_products_links{
        /* background-color: steelblue; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .footer_content_main_groww{
        /* background-color: rgb(118, 78, 175); */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer_content_main_groww_heading{
        /* background-color: tan; */
        min-height: 30px;
    }
    .footer_content_main_groww_links{
        /* background-color: steelblue; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .footer_content_main_quickLink{
        /* background-color: sienna; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .footer_content_main_quickLink_heading{
        /* background-color: tan; */
        min-height: 30px;
    }
    .footer_content_main_quickLink_links{
        /* background-color: steelblue; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .footer_build_with_love{
        /* background-color: darkred; */
        height: 95px;
        width: 100%;
        border-top: 1px solid #b9b9b9;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer_build_with_love_text{
        text-align: center;
    }
    #footer_love_with_india_red_heard_text{
        font-size: 18px;
        color: #db0c0c;
    }
}